@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

body{
    margin: 0;
    background-color: #dcdcdc;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 12px;
}

header{
    width: 100px;
    margin: auto;
    margin-top: 60px;
}

ul{
    width: 90%;
    margin: auto;
    margin-left: 3%;
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

li{
    margin-top: 10px;
}

.task-cnt{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    padding: 0.5% 2%;
}
.task-cnt__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-cnt__heading button{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: white;
    margin-right: 8px;
}

.heading__assignee{
    margin-top: -15px;
    margin-bottom: -5px;
}

.action-buttons{
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;
    width: 60px;
    height: 25px;
}

.edit-btn{
    margin-left: 10px;
}

#add-task-btn{
    margin-left: 3%;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 30px;
}

#dialog{
    width: 80%;
    max-width: 500px;
}

#dialog__form{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    padding: 5px;
    border-radius: 5px;
}

#form__buttons{
    margin-top: 20px;
    margin-bottom: -10px;
}

#form-cancel-btn{
    margin-left: 10px;
}

#reveal-completed-tasks{
    display: flex;
    align-items: center;
    height: 30px;
    width: 93.6%;
    margin: 20px auto 0px 3%;
    text-align: left;
    background-color: white;
    user-select: none;
}

#reveal-completed-tasks:hover{
    cursor: pointer;
}

#reveal-completed-tasks:active{
    transform: scale(0.98);
}

#reveal-completed-tasks img{
    width: 25px;
    margin-left: 10px;
    object-fit: scale-down;
}

#completed-task-list .complete-task-btn{
    background-color: #1475e8;
}

.error-btn{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#form-error{
    margin-top: 12px;
}
