@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



#title{
    width: 200px;
    height: 100px;
    margin: auto;
    font-size: 40px;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}

#tasks-list{
    list-style-type: none;
    margin-left: 100px;
}

.task-element{
    height: 200px;
    width: 60%;
    display: flex;
}

.task-content{
    margin-left: 30px;
    background-color: #606060;
    padding: 20px;
    color: aliceblue;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
}

.task-element-top{
    display: flex;
    justify-content: space-between;
}

.task-assignee{
    margin-top: 33px;
}

#add-task{
    border: 2px black;
    width: 110px;
    height: 50px;
    margin-left: 140px;
    border-radius: 10px;
}

.buttons-container{
    display: flex;
    flex-direction: column;

}

.feature-buttons{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100px;
}

button{
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700px;
    font-size: 20px;
}

#add-dialog{
    width: 500px;
    border-radius: 5px;
}

#add-form{
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
}

input, textarea{
    margin: 14px 0px;
    padding: 5px;
    font-size: 15px;
    resize: none;
}

#form-buttons{
    display: flex;
    justify-content: space-around;
}
