@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 35px;
}

#logo{
    width: 80px;
    height: 30px;
    object-fit: scale-down;
    margin-top: -3px;
}

#nav-buttons a{
    font-size: 0.8rem;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 700;
}


#section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    
}

#section-1 h1{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.image-section{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.section-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.form-input{
    padding: 10px;
    padding-left: 20px;
    font-size: 0.8rem;
    font-family: 'Ubuntu';
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#section1-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.form-button{
    padding: 10px;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: 1px solid hsl(224, 93%, 58%);
    border-radius: 3px;
    margin-top: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#section-2{
    background-color: hsl(240, 75%, 98.5%);
    margin-top: -7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-2 h4{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}


#curve{
    margin-top: 80px;
    width: 100%;
}

#link-redirect{
    margin: auto;
    color: green;
    margin-top: 40px;
}

#link-redirect img{
    border-bottom: 1px solid green;
    margin-bottom: -2.5px;
}

#review{
    width: 80%;
    background-color: white;
    height: 150px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#review-text{
    font-size: 0.6rem;
    padding: 25px;
    margin-top: -8px;
}

#review-person{
    display: flex;
}

#review-image{
    border: 1px solid black;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-top: -30px;
    margin-left: 25px;
}

#person-info{
    margin-top: -65px;
    margin-left: 10px;
    font-size: 0.5rem;
}

#person-info h4{
    margin-left: -20px;
    margin-bottom: -10px;
}

#section-3{
    background-color: hsl(238, 22%, 44%);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 40px 0px;
    padding-bottom: 80px;
}

#section-3 h4{
    margin: auto;
    width: 50%;
}

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding-left: 30px;
}

#icon-text-cnt{
    margin-bottom: 30px;
}

.normal-icon-cnt{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.icon-text{
    display: flex;
}

.icon-text p{
    margin-left: 15px;
    
}

.icon-text img{
    height: 20px;
    width: 25px;
    margin-top: 15px;
}

.normal-icon-cnt a{
    margin-top: 15px;
}

#social-icons{
    margin: auto;
    width: 50%;
    text-align: center;
}

#social-icons img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
}

footer a{
    font-size: 1rem;
}

#footer-logo{
    margin-top: 70px;
    margin-bottom: 30px;
}

@media (min-width: 1200px){
    header{
        margin-top: 50px;
    }

    #nav-buttons a{
        font-size: 1.1rem;
        margin-right: 3ch;
    }

    #logo{
        width: 200px;
        height: 50px;
        object-fit: scale-down;
        margin-left: -4%;
    }

    #section-1{
        flex-direction: row-reverse;
        margin-left: 5%;
        font-size: 1rem;
        margin-top: 100px;
    }

    #section-1 h1{
        margin: 0;
    }
    #section1-form button{
        margin-left: 0;
    }

    .image-section{
        width: 50%;
        margin-right: 10%;
        margin-top: 30px;
    }

    .section-form{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: auto;        
        text-align: left;
    }

    .form-input{
        width: 50%;
    }
    .form-button{
        width: 30%;
        margin-left: 20px;
        margin-top: 20px;
    }

    #section-2{
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 100px;
    }

    #section2-content{
        margin: 0;
        text-align: left;
        width: 50%;
        margin-left: 4%;
    }

    #section2-content h4{
        text-align: left;
        font-size: 2rem;
    }

    #review{
        margin-left: 0;
    }

    #review-person h4{
        margin-left: 0px;
        font-size: 0.5rem;
    }

    #section-3{
        display: flex;
        flex-direction: row;
    }
    #section3-text{
        width: 50%;
        text-align: left;
        margin-left: 6%;
        margin-top: 50px;
    }

    #section3-text h4{
        margin: 0;
        font-size: 2rem;
    }
    #section3-form{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 50%;
        margin-left: 20%;
    }
    #section3-form button{
        margin-left: -0.1%;
    }

    footer{
        display: flex;
        justify-content: space-between;
        padding-left: 22%;
        padding-bottom: 50px;
    }
    
    .normal-icon-cnt{
        margin-top: 153.5px;
        margin-left: 20%;
    }

    #social-icons{
        margin-top: 160px;
        
    }
    #icon-text-cnt{
        margin-left: -20%;
    }
}